requests
opencv-python
opencv-python-headless  
numpy
selenium
youtube_dl  
yt_dlp
pynput
phonenumbers
geocoder
pyzipper
beautifulsoup4 
pyautogui
telethon
tensorflow
joblib
pillow  
exifread
scikit-learn  
scapy 
pytube
moviepy==1.0.3
asyncio
paramiko  
PyPDF2
piexif
